<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petlink - Adopción de Mascotas</title>

    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/mobile-fix.css}">
    <link rel="stylesheet" th:href="@{/css/input-number-flechas.css}">
</head>