@media (min-width: 768px) {
    #mobile-menu-button {
        display: none !important;
    }
}

@media (max-width: 767px) {
    #mobile-menu.hidden,
    #mobile-nav.hidden {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
}
